<div class="container">

      <div class="col-md-8">
        
        <p>Access Salesforce through RESTapi</p>
        
        <%= link_to "Get All Accounts Basic Auth", account_index_path, class: 'btn btn-success' %>

        <p>Would you like to view your Registered Applications?</p>
        
        <%= link_to "Get All Acccount OAth Auth", account_index_path, class: 'btn btn-success' %>
    
</div>
